/* stylelint-disable */

.input1A {
  background-color: transparent;
  border: 0;
  color: $light;
  border-bottom: 1px solid grey;
  margin-top: 30px;
  @include placeholder-color($light);
  font-size: em(16);
  padding: 10px;
  @include media-breakpoint-up(sm) {
    padding: 7px 10px;
    font-size: em(20);
  }
  @include media-breakpoint-up(md) {
    font-size: em(24);
  }
}

select.input1A option {
  color: $dark;
}

.check1A {
  input {
    width: 20px!important;
    height: 20px;
    background-color: transparent;
  }
}

.btn1A {
  font-size: em(24);
  padding: 10px 40px;
  border: 0;
  transition: 1s;
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: auto!important;
  }
  &:hover {
    background-color: $dark;
    color: $light;
  }
}
