@font-face {
  font-family: "PTSans-Regular";
  src: url("fonts/PTSans-Regular.ttf"), url("fonts/PTSans-Regular.svg"), url("fonts/PTSans-Regular.eot"), url("fonts/PTSans-Regular.woff"), url("fonts/PTSans-Regular.woff2");
}

@font-face {
  font-family: "PTSans-Italic";
  src: url("fonts/PTSans-Italic.ttf"), url("fonts/PTSans-Italic.svg"), url("fonts/PTSans-Italic.eot"), url("fonts/PTSans-Italic.woff"), url("fonts/PTSans-Italic.woff2");
}

@font-face {
  font-family: "PTSans-BoldItalic";
  src: url("fonts/PTSans-BoldItalic.ttf"), url("fonts/PTSans-BoldItalic.svg"), url("fonts/PTSans-BoldItalic.eot"), url("fonts/PTSans-BoldItalic.woff"), url("fonts/PTSans-BoldItalic.woff2");
}

@font-face {
  font-family: "PTSans-Bold";
  src: url("fonts/PTSans-Bold.ttf"), url("fonts/PTSans-Bold.svg"), url("fonts/PTSans-Bold.eot"), url("fonts/PTSans-Bold.woff"), url("fonts/PTSans-Bold.woff2");
}
