/* stylelint-disable */

@import "~bootstrap/scss/functions";
// Font Family
$ff-primary: "PTSans-Regular",
sans-serif;
$ff-primary--italic: "PTSans-Italic",
sans-serif;
$ff-primary--bolditalic: "PTSans-BoldItalic",
sans-serif;
$ff-primary--bold: "PTSans-Bold",
sans-serif;
$ff-secondary: "aktiv-grotesk";
// Contrasts
$light: #fff;
$light-grey: #ececec;
$mid-grey: #656565;
$dark-grey: #444;
$dark: #000;
// Social
$google: #df5343;
$facebook: #3a5897;
$twitter: #00acec;
$linkedin: #027bb7;
$youtube: #bf221f;
$instagram: #cd5959;
$pinterest: #cb2027;
// Theme Colours
$color1: #261c1d;
$color2: #fcf1eb;
// $color3: #29254b;
$warn: #ce4343;
$success: #53d384;
$grid-breakpoints: ( mobile-xs: 0px, mobile-sm: 360px, mobile-md: 375px, mobile-lg: 414px, xs: 415px, sm: 577px, md: 768px, lg: 992px, xl: 1200px, xxl:1500px);
