/* stylelint-disable */

.form-block {
  position: relative;
  margin-top: 80px;
  overflow: hidden;
  @include media-breakpoint-up(sm) {
    margin-top: 155px;
  }
  &__hdr {
    padding-bottom: 60px;
    font-family: $ff-secondary;
    font-weight: 500;
    font-size: em(35);
    @include media-breakpoint-up(xs) {
      font-size: em(45);
    }
    @include media-breakpoint-up(sm) {
      font-size: em(55);
    }
    @include media-breakpoint-up(lg) {
      font-size: em(65);
    }
  }
  .form-block-fieldset {
    @include media-breakpoint-up(lg) {
      max-width: 80%;
    }
    .wpcf7-form-control-wrap {
      overflow: hidden;
    }
    .wpcf7-form {
      input,
      select,
      textarea {
        width: 100%;
      }
      .wpcf7-form-control-wrap {
        display: block;
        position: relative;
        select {
          width: 105%;
        }
        &.desks,
        &.people,
        &.location {
          &:after {
            content: '';
            position: absolute;
            top: 15px;
            right: 10px;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 8px solid $light;
            @include media-breakpoint-up(sm) {
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 12px solid $light;
            }
          }
        }
        &.consent {
          .wpcf7-form-control {
            .wpcf7-list-item {
              margin: 0;
              label {
                margin: 0;
                display: flex;
                align-items: center;
                padding-bottom: 55px;
                .wpcf7-list-item-label {
                  padding-left: 20px;
                  font-size: em(16);
                  @include media-breakpoint-up(sm) {
                    font-size: em(20);
                  }
                }
              }
            }
          }
        }
      }
      .wpcf7-list-item {
        margin: 0;
      }
    }
  }
  .r {
    justify-content: center;
    .c {
      @include media-breakpoint-only(xs) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    background-color: $light;
    top: 120px;
    bottom: 0;
    left: -15px;
    width: 7px;
    @include media-breakpoint-up(lg) {
      width: 15px;
      left: 0;
    }
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .aos & {
    &:before {
      opacity: 0;
      transform: translateY(-100%);
      transition: 3s;
    }
    .c {
      opacity: 0;
      transition: 2s;
      transform: translateY(100px);
    }
    &.aos-animate {
      &:before {
        opacity: 1;
        transform: translateY(0);
      }
      .c {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}
