/* stylelint-disable */

.image-tiles {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 110px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 100px;
  @include media-breakpoint-up(sm) {
    padding-top: 150px;
    padding-left: 0;
    padding-right: 25px;
  }
  @include media-breakpoint-up(xxl) {
    padding-right: 0;
    width: 110%;
  }
  .image-tiles-heading {
    opacity: 0;
    transition: 2s;
    &__hdr {
      max-width: 230px;
      font-family: $ff-secondary;
      font-weight: 500;
      line-height: 1;
      font-size: em(35);
      @include media-breakpoint-up(xs) {
        font-size: em(45);
      }
      @include media-breakpoint-up(sm) {
        font-size: em(55);
      }
      @include media-breakpoint-up(lg) {
        font-size: em(65);
      }
    }
    &.aos-animate {
      opacity: 1;
    }
  }
  .image-tiles-single {
    background-color: $dark;
    position: relative;
    display: block;
    height: 200px;
    padding: 15px;
    @include media-breakpoint-up(xs) {
      padding: 20px;
      height: 275px;
    }
    @include media-breakpoint-up(sm) {
      padding: 30px 25px;
    }
    @include media-breakpoint-up(lg) {
      height: 325px;
    }
    @include media-breakpoint-up(xl) {
      padding: 50px 40px;
    }
    &__hdr {
      position: relative;
      z-index: 1;
      line-height: 1;
      color: $light;
      font-family: $ff-secondary;
      font-weight: 100;
      opacity: 0;
      transform: translateY(50px);
      transition: 1s;
      font-size: em(22);
      @include media-breakpoint-up(sm) {
        font-size: em(28);
      }
      span {
        display: block;
        font-weight: 500;
      }
    }
    .inner-background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: 1s;
      &__img {
        width: 100%;
        height: 100%;
        @include background-cover();
      }
    }
    &:hover {
      .image-tiles-single__hdr {
        opacity: 1;
        transform: translateY(0);
      }
      .inner-background {
        opacity: 0.25;
      }
    }
    transform:translateY(100px);
    opacity:0;
    transition: 2s;
    transition-delay: 0.5s;
    &.aos-animate {
      transform: translateY(0);
      opacity: 1;
      @include media-breakpoint-down(sm) {
        .image-tiles-single__hdr {
          opacity: 1;
          transform: translateY(0);
        }
        .inner-background {
          opacity: 0.5;
        }
      }
    }
  }
  .c {
    padding: 5px;
    @include media-breakpoint-up(xs) {
      padding: 10px;
    }
    @include media-breakpoint-up(lg) {
      padding: 15px;
    }
    @include media-breakpoint-up(xl) {
      padding: 25px;
    }
  }
}
